/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.width {
  width: 100%;
}

.height-header-div{
  height: 14rem;
}

.fontsize-h1{
  font-size: 4rem;
}

.headerColor {
  background-color: var(--headerColor) ;
}

.font-barlow{
  font-family: "Barlow";
  color: white;
}

.display-flex {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.wrap{flex-wrap: wrap;}


